html {
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    background-color: rgb(241, 241, 241);
}
.header{
    background-color: #05b2ff;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    color: white;
    align-items: center;
    flex-wrap: wrap;
}
.header section{
    display: flex;
    flex: 50%;
    max-width: 50%;
    justify-content: flex-start;
}


.author:hover{
    font-size: 18px;
    transition: 0.2s;
}
h1{
    margin: 0px;
    font-family: sans-serif;
}

.logo{
    object-fit: cover;
    max-width: 100px;
    max-height: 100px;
}

header section div{
    align-content: center;
}
header section div span{
    font-family: math;
}

.welcome{
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 40px;
    transition: 0.2s;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #05b2ff;
    color: white;
    border-radius: 50px;
    padding: 0px 40px;
}
.welcome:hover{
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    transition: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.responsivePhoto{
    border-radius: 25px;
    object-fit: cover;
    height: 164px;
}
.welcomeContainer{
    padding: 40px;
}
.welcomeTitle{
    font-weight: bold;
    font-family: sans-serif;
    margin: 0;
    font-size: 30px;
    padding: 0px;
}
.welcomeDesc{
    font-family: system-ui;
    margin-top: 8px;
}

.fitureNav>a{
    text-align: center;
    text-decoration: none;
    border-radius: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 20%;
    margin: 5px 5px;
    transition: 0.2s;
}
.fitureNav>a:hover{
    font-size: 18px;
    transition: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-fiture-non-active{
    background-color: #ffffff;
    color: #008cc8;
}
.nav-fiture-active{
    background-color: #008cc8;
    color: #ffffff;
    font-size: 18px;
    transition: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fitureNav{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.sectionContainer{
    padding: 40px 20px;
    background-color: #05b2ff;
    color: white;
    text-align-last: center;
    margin: 20px 50px;
    border-radius: 50px;
    transition: 0.2s;
    
}
.sectionContainer:hover{
    transition: 0.2s;
    margin: 10px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sectionTitle{
    font-family: sans-serif;
    margin: 0px;
}

.sectionContent{
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}
.sectionContentHitung{
    align-self: start;
    justify-items: start;
}
.sectionContentDetail{
    justify-items: start;
    display: flex;
    flex-direction: row;
}
.sectionContentDetail ul{
    list-style-type: none;
    padding: 0;
    justify-items: start;
    margin: 5px 0px;
}
.sectionContentDetail div p{
    margin: 5px 0px;
}
.sectionContentDetail div{
    padding: 0px 10px;
}
input{
    border-radius: 10px;
}
.sectionButton{
    border-radius: 10px;
    padding: 5px 15px;
    margin-top: 5px;
    background-color: #008cc8;
    color: #ffffff;
    border: 0px;
}
.sectionButton:hover{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

footer{
    background-color: #05b2ff;
    padding: 15px 30px;
    color: white;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
}
footer h2{
    margin: 0px;
}
footer p{
    margin: 0px;
    padding: 0px;
}
.containerHasil{
    margin-top: 5px;
    justify-items: center;
    border-radius: 12px;
    padding: 3px 0px;
    background-color: #ffffff;
}
#hasilTampungLuas{
    font-size: 14px;
    color: black;
    justify-items: flex-start;
}
#hasilTampungKeliling{
    justify-items: flex-start;
    color: black;
    font-size: 14px;
}
#hasilTampungLuasPP{
    font-size: 14px;
    color: black;
    justify-items: flex-start;
    padding: 0px 10px;
}
#hasilTampungKelilingPP{
    justify-items: flex-start;
    color: black;
    font-size: 14px;
    padding: 0px 10px;
}
.unvisible{
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.visible{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

#persegiDisplay{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
#persegiPanjangDisplay{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.containerForm{
   display: flex; 
}
.labelPP{
    display: flex;
    flex-direction: column;
    align-items: start;
} 
.inputPP{
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media(max-width:946px){
    .fitureNav>a{
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .welcomeContainer{
        padding: 20px;
    }
    .sectionContent{
        margin-top: 20px;
    }
}
@media(max-width:839px){
    .sectionContainer{
        padding: 20px 20px;
        border-radius: 25px;
    }

    .sectionContainer:hover{
        margin-top: 8px;
        margin-right: 8px;
        margin-left: 8px;
    }
    .sectionContent{
        padding: 0px 5px;
        margin: 10px 0px;
        font-size: 14px;
    }
    
    .sectionContentHitung h3{
        font-size: 14px;
        margin: 2px 0px;
    }    
    .sectionContentHitung form{
        font-size: 13px;
        margin: 2px 0px;
    }
    .sectionButton{
        font-size: 13px;
        padding: 4px 6px;
    }
    input{
        width: 90px;
        height: 10px;
    }
    .sectionContentDetail img{
        width: fit-content;
        max-height: 96px;
        border-radius: 12px;
    }
    .sectionContentDetail div p ,.sectionContentDetail div ul{
        margin: 0px;
    }
    .welcomeTitle{
        font-size: 20px;
    }
    .welcomeDesc{
        font-size: 13px;
    }
}

@media(max-width:582px){
    .headerSpan{
        font-size: 11px;
    }
    .fitureNav>a{
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .welcomeContainer{
        padding: 20px;
    }
    .welcome{
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
        padding: 0px 20px;
    }
    .welcome:hover{
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .welcomeDesc{
        font-size: 10px;
    }
    .welcomeTitle{
        font-size: 12px;
    }
    .header{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1{
        font-size: 13px;
    }
    .headerSpan{
        font-size: 10px;
    }
    .logo{
        object-fit: cover;
        max-width: 40px;
        max-height: 40px;
    }
    .header section{
        display: flex;
        flex: 50%;
        max-width: 50%;
        justify-content: flex-start;
    }
    .author{
        font-size: 10px;
    }
    .author:hover{
        font-size: 11px;
    }
    .fitureNav>a{
        font-size: 10px;
    }
    .fitureNav>a:hover{
        font-size: 11px;
    }
    .sectionContainer{
        margin: 10px;
    }
    .sectionTitle{
        font-size: 20px;
    }
    .sectionContainer{
        padding: 5px 20px;
        border-radius: 25px;
    }
    .sectionContainer:hover{
        margin-top: 8px;
        margin-right: 8px;
        margin-left: 8px;
    }
    .sectionContent{
        padding: 0px 5px;
        font-size: 10px;
    }

    .sectionContentHitung h3{
        font-size: 9px;
        margin: 2px 0px;
    }    
    .sectionContentHitung form{
        font-size: 9px;
        margin: 2px 0px;
    }
    .sectionButton{
        font-size: 9px;
        padding: 3px 4px;
    }
    input{
        width: 60px;
        height: 10px;
        font-size: 9px;
    }
    .sectionContentDetail img{
        max-width: fit-content;
        max-height: 90px;
    }
    .sectionContentDetail div p ,.sectionContentDetail div ul{
        margin: 0px;
    }
   
    footer h2{
        font-size: 15px;
    }
    footer p{
        font-size: 8px;
    }
    footer section a img{
        max-width: 20px;
        max-height: 20px;
    }
    #hasilTampungLuas{
        font-size: 10px;
    }
    #hasilTampungKeliling{
        font-size: 10px;
    }
    #hasilTampungLuasPP{
        font-size: 10px;
    }
    #hasilTampungKelilingPP{
        font-size: 10px;
    }

}
@media(max-width:451px){
    .sectionTitle{
        font-size: 11px;
    }
    .welcomeDesc{
        font-size: 9px;
    }
    .welcomeTitle{
        font-size: 11px;
    }
    .welcome{
        padding: 0px 5px;
        margin-top: 9px;
        margin-right: 9px;
        margin-left: 9px;
    }
    .welcome:hover{
        margin-top: 8px;
        margin-right: 8px;
        margin-left: 8px;
    }
    .header{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1{
        font-size: 13px;
    }
    .headerSpan{
        font-size: 10px;
    }
    .logo{
        object-fit: cover;
        max-width: 40px;
        max-height: 40px;
    }
    .header section{
        display: flex;
        flex: 50%;
        max-width: 50%;
        justify-content: flex-start;
    }
    .author{
        font-size: 10px;
    }
    .author:hover{
        font-size: 11px;
    }
    .fitureNav>a{
        font-size: 9px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .fitureNav>a:hover{
        font-size: 10px;
    }
    .sectionContainer{
        padding: 5px;
    }
    .sectionContainer:hover{
        margin-top: 8px;
        margin-right: 8px;
        margin-left: 8px;
    }
    .sectionContent{
        padding: 0px 5px;
        display: flex;
        flex-direction: column-reverse;
        font-size: 9px;
    }
    .sectionContentHitung{
        align-self: center;
        justify-items: center;
    }
    .sectionContentHitung h3{
        font-size: 9px;
        margin: 2px 0px;
    }    
    .sectionContentHitung form{
        font-size: 9px;
        margin: 2px 0px;
    }
    .sectionButton{
        font-size: 9px;
        padding: 3px 4px;
    }
    input{
        width: 90px;
        height: 10px;
    }
    .sectionContentDetail img{
        max-width: fit-content;
        max-height: 70px;
        border-radius: 9px;
    }
    .sectionContentDetail div p ,.sectionContentDetail div ul{
        margin: 0px;
    }
    
}

